<!-- {% extends 'auth/auth-base.html'%} -->
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<h1 id="h1d" class="kim possible">{{context.appData.institution_name}} Login</h1>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {{wtf.quick_form(context.login_form)}}
                <!-- <p>Don't have an account? <a class="btn">Sign up here</a></p> -->
            </div>
            <div class="col-md-2"> </div>
        </div>
    </div>
</main>
{% endblock%}